/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --cor-principal: #114232;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--cor-principal);
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section{
  background: #FFF;
  border-radius: 17px;
}
.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(300%) hue-rotate(140deg) brightness(100%) contrast(100%);
}

.option :where(span, label){
  color: var(--cor-principal);
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: var(--cor-principal);
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: var(--cor-principal);
}

#size-slider {
  width: 100%; /* Define a largura do slider */
  height: 10px; /* Define a altura do slider */
  -webkit-appearance: none; /* Remove a aparência padrão do navegador (apenas para navegadores WebKit como Chrome e Safari) */
  appearance: none; /* Remove a aparência padrão do navegador */
  background: #ddd; /* Define a cor de fundo do slider */
  outline: none; /* Remove a borda ao redor do slider quando estiver focado */
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove a aparência padrão do polegar do slider no WebKit */
  appearance: none; /* Remove a aparência padrão do polegar do slider */
  width: 20px; /* Define a largura do polegar do slider */
  height: 20px; /* Define a altura do polegar do slider */
  background: var(--cor-principal); /* Define a cor de fundo do polegar do slider */
  cursor: pointer; /* Define o cursor como apontador para o polegar do slider */
  border-radius: 50%; /* Define a borda do polegar do slider como arredondada */
}

#size-slider::-moz-range-thumb {
  width: 20px; /* Define a largura do polegar do slider para navegadores Firefox */
  height: 20px; /* Define a altura do polegar do slider para navegadores Firefox */
  background: var(--cor-principal); /* Define a cor de fundo do polegar do slider para navegadores Firefox */
  cursor: pointer; /* Define o cursor como apontador para o polegar do slider para navegadores Firefox */
  border-radius: 50%; /* Define a borda do polegar do slider como arredondada para navegadores Firefox */
}


.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid var(--cor-principal);
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: var(--cor-principal);
}
.buttons .save-img{
  background: var(--cor-principal);
  border: 1px solid var(--cor-principal);
}
.drawing-board{
  flex: 1;
  overflow: hidden;
  
}
.drawing-board canvas{
  
  width: 100%;
  height: 100%;
}